	<div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
    			<blc:content contentType="Homepage Banner Ad" />
                <div class="fill" th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}" >
                	<a th:href="@{${contentItem['targetUrl']}}">
                	  <img style="height:100%; width:100%" blc:src="@{${contentItem['imageUrl']}}" />
                	</a>  
                </div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <blc:content contentType="Homepage Banner Ad2" />
                <div class="fill" th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}" >
                	<a th:href="@{${contentItem['targetUrl']}}">
                	  <img style="height:100%; width:100%" blc:src="@{${contentItem['imageUrl']}}" />
                	</a>  
                </div>
                <div class="carousel-caption">
                    <h1>This is Homepage Banner Ad2 Test</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style=""></div>
                <div class="carousel-caption">
                    <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev" style="background-image: none;"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next" style="background-image: none;"></span>
        </a>
    </div>