    
    <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/"><img src="/img/LGLogo.png" style="padding-bottom:5px;display: inline-block;"/>&nbsp; EOS</a>
	</div>
   
	<div id="navbar" class="navbar-collapse collapse">
	    <!-- Categories -->
	    
	    <ul class="nav navbar-nav">

		   	 <li th:each="category : ${navCategories}" th:class="${#lists.isEmpty(category.getChildCategories())} ? 'notdropdown': 'dropdown'">
		   	 
				<a th:href="@{${category.url}}" th:if="${#lists.isEmpty(category.getChildCategories())}"><span  th:text="${category.name}">CATEGORY</span></a> 
				<a th:href="@{${category.url}}" th:unless="${#lists.isEmpty(category.getChildCategories())}" class="dropdown-toggle" data-toggle="dropdown"><span  th:text="${category.name}">CATEGORY</span> <b class="caret"></b></a>
				
				<ul class="dropdown-menu" th:unless="${#lists.isEmpty(category.getChildCategories())}">
				    <a th:href="@{${category.url}}">
                       <span>
                         <img src="http://www.lg.com/us/images/global/nav/kitchen.png" 
                              style="visibility:visible;margin-left: 15px;margin-bottom: 15px;" />
                         <!-- <img data-src="http://www.lg.com/us/images/global/nav/kitchen.png" 
                              th:src="${category.getCategoryImage(category.name)}" 
                              src="http://www.lg.com/us/images/global/nav/kitchen.png" 
                              style="visibility:visible;" /> -->
                       </span>
                    </a>
					<li th:if="${#objects.nullSafe(category,default)}" th:each="cat : ${category.getChildCategories()}">
						<a href="#" th:text="${cat.name}" th:href="@{${cat.url}}">SUB-CATEGORY</a>
					</li>
				</ul>
				
			</li>
	    </ul>
		    
	    <ul class="nav navbar-nav navbar-right">
	     	<blc:form class="navbar-form" style="margin-left:5px; margin-right:5px" th:action="@{/search}" method="GET">
		        <!-- <input type="search" class="form-control"  />
		        <input type="submit" class="btn btn-default" value="go" /> -->
		        
		        <div class="input-group">
				    <input type="text" class="form-control" style="font-size: 12px; height: 31px;" placeholder="SEARCH PROD" name="q" th:value="${originalQuery}"/>
				    <span class="input-group-btn">
				      <input type="submit" class="btn btn-default" style="font-size: 12px;" value="Go"/>
				    </span>
			  	</div><!-- /input-group -->
			 </blc:form>
	    </ul>
	    
	</div>